// For Variables & Mixins Only

$primary-color: #1b242f;
$secondary-color: #e31b6d;
// $secondary-color: #9E8751;

// $secondary-color: #FFDF00;
// $secondary-color: #daa520;
// $secondary-color: #d4af37;



$dark-color: #252934;
$border-color: #04c2c9;
$text-muted: #6c757d;
// $noto-font: 'Noto Sans SC', sans-serif;

// Background
$show-homepage-img: true;
$homepage-img: url("../img/main bg/background5.jpg");
// $background-opacity: 0.8;
$background-opacity: 0.6;


@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-homepage-img {
    &#bg-img {
      background: $homepage-img;
      background-attachment: fixed;
      background-size: cover;

      .overlay {
        // content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: rgba($color: $primary-color, $alpha: $background-opacity);
        z-index: -1;
      }
    }
  }
}


// Padding & Margin Uti. Classes (BS)
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}



// MediaQuery Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

