// Widescreens MQ
@include mediaXl {


  .section-title{
      small {
        color: darken($color: $text-muted, $amount: 20);
          font-size: 0.8rem;
          // margin-bottom: 40px ;
          // text-shadow: 1px 4px 2px gray;
          background-color: rgba($color: $dark-color, $alpha: 50);
          padding: 0.3rem 0.8rem;
      }

      p{
        font-size: 0.9rem;
        color: #8da5c5cf;
        // or #8da5c552
      }

  
  }

  main h2.sm-heading{
    font-size: 1.7rem;
    width: 35.5%;
  }
  
  .job-3 {
    overflow: hidden;

    h3{
      // margin-bottom: -10px;
    }
    
    img{
      // padding-top: 311px;
      // display: flex;
      width: 60px ;
      height: 60px ;
      margin-bottom: 0;
      // margin-top: 20px;
      margin-top: 71px !important;
      // display: block;
    }

    .slider__caption{
      margin: 0;
      margin-bottom: 0;
      font-size: 1rem;
      // display: none;
      // margin-top: 20px;
    }

    .slider__txt{
      font-size: 0.5rem;
      // margin-top: -12px;
      // color: red !important;
      // margin-top: 40px;
    }

    .slider__nav{
        margin-top: 150px !important;
      // color: red !important;

    }
  } 

  #about {

    .bio-image {
      // width: 80%;
      width: 16rem;
      height: 14rem;
      // height: 80%;
    }
  }

    .projects {
      grid-template-columns: repeat(4, 1fr);
    }

    // Back To Top (Work SM Only)
    #arrow_top {
      display: none;
    
    }
  }
  
  // Desktops & Laptops
  @include mediaLg {


    #contact{

      h3.sm-heading {
        width: auto;
        // color: red;
      }

      button{
        display: block;
        width: 200px !important;
        // margin: 0 auto;
        // text-align: center;
        // transform: translateX(50%);

      }
  }

   body{
      // background-color: red;
    }
  
  .job-3 {
    overflow: hidden;

    h3{
      margin-bottom: -10px;
    }
    
    img{
      // padding-top: 311px;
      display: none;
      // display: flex;
      width: 60px ;
      height: 60px ;
      margin-bottom: 0;
      margin-top: 20px;
      // display: block;
    }

    .slider__caption{
      margin: 0;
      // margin-bottom: -10px;
      font-size: 1.2rem;
      // display: block;
      padding-top: 60px;
    }

    .slider__txt{
      font-size: 0.5rem;
      // margin-top: -12px;
      // color: red !important;
      margin-top: 10px;
      // margin-bottom: 10px !important;
    }

    .slider__nav{
        margin-bottom: 30px !important;
    }
  } 
    #about {

      .bio-image {
        // display: none;
        width: 90%;
        height: 90%;
      }
    }

    main {
      padding: 2rem;
      #home h1 {
        margin-top: 10vh;
        
      }
  
      .lg-heading {
        margin-top:1rem;
        font-size: 4.4rem;
      }

      h2.sm-heading{
      width: 52%;
      background: rgba($color: $dark-color, $alpha: 0.4);
      //  display: block;
        font-size: 1.3rem;
      }

      .icons a{
        font-size: 1.2rem;

      }
    }
  
    .projects {
      grid-template-columns: repeat(3, 1fr);
    }
  }


  .job-3 {
    overflow: hidden;

    h3{
      margin-bottom: -10px;
    }
    
    img{
      padding-top: 4px;
      margin-bottom: 0;
    }

    .slider__caption{
      margin: 0;
    }

    .slider__txt{
      font-size: 0.9rem;

      span {
        color: whitesmoke;
        font-size: 0.7rem;
      }
    }

    .slider__nav{
        margin-bottom: 30px !important;
    }
  } 
  
  // Tablets & Small Laptops
  @include mediaMd {
 
    
    #about {

      .bio-image {
        // display: none;
        // width: 85%;
        // height: 85%;
        width: 16rem;
        height: 14rem;
      }
    }
    

    #contact .form-control {
      
      width: 120%;
      margin: 15px auto;
      background-color: $primary-color;
      
      &#submit {
        margin: 20px auto;  // On & Off
      }

   
    }


    #contact{

      h3.sm-heading {
        width: auto;
        // color: red;
      }

      button{
        display: block;
        // color:  red !important;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        transform: translateX(50%);

      }
  }

   
    .about-info .job-3 {
      display: none;
    } 

    .anim-gradient{
        font-size: 2.5rem;
        margin-left: -110px;
        font-weight: 500;
    }
    main {
      align-items: center;
      text-align: center;
  
      .lg-heading {
        line-height: 1;
        margin-bottom: 1rem;
        font-size: 5rem;
        letter-spacing: 1px;

      }

      h2.sm-heading{
         width: 100%;
       display: block;
        font-size: 1.7rem;
      }

      .icons a{
        font-size: 1.4rem;

      }
    }
  
    ul.menu-nav,
    div.menu-branding {
      float: none;
      width: 100%;
      min-height: 0;
  
      &.show {
        transform: translate3d(0, 0, 0);
      opacity: 1; 

      }
    }
  
    .menu-nav {
      height: 75vh;
      transform: translate3d(-100%, 0, 0);
      font-size: 24px;
    }
  
    .menu-branding {
      height: 25vh;
      transform: translate3d(100%, 0, 0);
  
      .portrait {
        background: url('../img/personal/saud2.png');
        width: 150px;
        height: 150px;
        background-size:contain;
        object-fit: scale-down;
      }
    }
  
    .about-info {
      grid-template-areas:
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
  
      grid-template-columns: 1fr;
    }
  
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }

    #arrow_top {
      display: block;
      border: 2px solid #224355;
      border-radius: 3px;
      display: inline-block;
      padding: 0.125rem 0.45rem;
      position: relative;
      top: 2rem;
      left: 50%;
      margin-bottom: 10px;
      opacity: 0.25;
      // margin-top: 20px;
    }
    
  }
  
  // Mobiles
  @include mediaSm {

    .nav-tabs{
      display: none;
      display: flex !important;
      // flex-direction: column;
      letter-spacing: -1px;
      font-size: 0.9rem;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
      margin: 1px;
      margin: 0 auto;
    }
    .nav-tabs .nav-link{
      // display: none;
    
    }

    .section-title{
      h2{
        color: $primary-color;
        background:lighten($color: $secondary-color, $amount: 10);
        display: inline-block;
        padding: 0.4rem 0.7rem;

      }
      p{
        color: $text-muted;
        font-size: 1rem;
        letter-spacing: -1px;
      }
      small {
        display: none;
      }
    }

    #contact{

      h3.sm-heading {
        width: auto;
        //  color: red;
        
      }

      button{
        display: block;
        width: 100%;
        margin: 0 auto;
        // color: white !important;
        text-align: center;
        transform: translateX(0);

      }
  }

    .about-info .job-3 {
      display: none;
    } 



    .anim-gradient{
        font-size: 1.55rem;
        margin: .55rem!important;
      
    }
 

    main {
      padding: 2rem;
      #home h1 {
        margin-top: 10vh;
        
      }
  
      .lg-heading {
        margin-top:1rem;
        font-size: 4.4rem;
      }

      h2.sm-heading{
         width: 100%;
        display: block;
        font-size: 1.37rem !important;

      }

      .icons a{
        font-size: 1.2rem;

      }
    }
  
    .projects {
      grid-template-columns: 1fr;
    }

    h3.sm-heading, p.text-muted {
        display: none !important;
    }

    #contact .form-control{
        width: 100%;
    }


    .resume {
      .btn{
        width: 169px !important;
        border-color: $primary-color;
        border: 2px solid $border-color;
        cursor: pointer;
        &:hover{
          background-color: transparent !important;
        } 
      }
    }

    #arrow_top {
      display: block;
      border: 2px solid #224355;
      border-radius: 3px;
      display: inline-block;
      padding: 0.125rem 0.45rem;
      position: relative;
      top: 2rem;
      left: 50%;
      margin-bottom: 10px;
      opacity: 0.25;
      // margin-top: 20px;

      &:hover{

          background-color: darken($color: #fff, $amount: 15);
          border: 2px solid darken($color: #fff, $amount: 15);
          opacity: 1;

        i{
          color: $border-color;
        }
      }
    }

  }

  